body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:695px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:463px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:13px;
  width:663px;
  height:463px;
}
#u2049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:363px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:552px;
  height:363px;
  text-align:left;
}
#u2050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:552px;
  height:32px;
}
#u2051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:58px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:58px;
  width:33px;
  height:16px;
  color:#FFFFFF;
  text-align:right;
}
#u2053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u2054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:100px;
  width:99px;
  height:19px;
}
#u2054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:144px;
  width:71px;
  height:19px;
}
#u2055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:181px;
  width:100px;
  height:16px;
}
#u2056_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2056_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:181px;
  width:100px;
  height:16px;
}
#u2057_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2057_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:181px;
  width:100px;
  height:16px;
}
#u2058_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2058_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:220px;
  width:100px;
  height:16px;
}
#u2059_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2059_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:335px;
  width:102px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u2060_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u2061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:335px;
  width:102px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u2061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
