body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1297px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:68px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:1281px;
  height:68px;
}
#u1981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:32px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:709px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:78px;
  width:163px;
  height:709px;
}
#u1983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:78px;
  width:163px;
  height:46px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u1985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:123px;
  width:163px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u1985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  word-wrap:break-word;
}
#u1986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:179px;
  width:163px;
  height:46px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u1987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:267px;
  width:163px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u1987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  word-wrap:break-word;
}
#u1988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:312px;
  width:163px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u1988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  word-wrap:break-word;
}
#u1989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:368px;
  width:163px;
  height:46px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u1990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:413px;
  width:163px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u1990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  word-wrap:break-word;
}
#u1991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:458px;
  width:163px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u1991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  word-wrap:break-word;
}
#u1992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:557px;
  width:163px;
  height:46px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u1993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:602px;
  width:163px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  word-wrap:break-word;
}
#u1994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:647px;
  width:163px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u1994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  word-wrap:break-word;
}
#u1995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:692px;
  width:163px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u1995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  word-wrap:break-word;
}
#u1996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:225px;
  width:163px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u1996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  word-wrap:break-word;
}
#u1997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:503px;
  width:163px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u1997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:159px;
  word-wrap:break-word;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:149px;
  width:1050px;
  height:110px;
}
#u1999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  text-align:left;
}
#u1999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u2000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:103px;
  height:30px;
  text-align:left;
}
#u2000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u2001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:100px;
  height:30px;
  text-align:left;
}
#u2001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:400px;
  height:30px;
  text-align:left;
}
#u2002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u2003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:0px;
  width:105px;
  height:30px;
  text-align:left;
}
#u2003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u2004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:0px;
  width:105px;
  height:30px;
  text-align:left;
}
#u2004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u2005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:37px;
  height:40px;
  text-align:left;
}
#u2006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  word-wrap:break-word;
}
#u2007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:30px;
  width:103px;
  height:40px;
  text-align:left;
}
#u2007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u2008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:30px;
  width:100px;
  height:40px;
  text-align:left;
}
#u2008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:30px;
  width:400px;
  height:40px;
  text-align:left;
}
#u2009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u2010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:30px;
  width:105px;
  height:40px;
  text-align:left;
}
#u2010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u2011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:30px;
  width:105px;
  height:40px;
  text-align:left;
}
#u2011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u2012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:30px;
  width:200px;
  height:40px;
  text-align:left;
}
#u2012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:37px;
  height:40px;
  text-align:left;
}
#u2013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  word-wrap:break-word;
}
#u2014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:70px;
  width:103px;
  height:40px;
  text-align:left;
}
#u2014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u2015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:70px;
  width:100px;
  height:40px;
  text-align:left;
}
#u2015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:70px;
  width:400px;
  height:40px;
  text-align:left;
}
#u2016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u2017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:70px;
  width:105px;
  height:40px;
  text-align:left;
}
#u2017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u2018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:70px;
  width:105px;
  height:40px;
  text-align:left;
}
#u2018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u2019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:70px;
  width:200px;
  height:40px;
  text-align:left;
}
#u2019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:298px;
  width:191px;
  height:16px;
}
#u2020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u2021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:293px;
  width:78px;
  height:26px;
  text-align:left;
}
#u2021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u2022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:301px;
  width:10px;
  height:10px;
}
#u2022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:293px;
  width:41px;
  height:26px;
}
#u2023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u2024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:293px;
  width:56px;
  height:26px;
}
#u2024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u2025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:293px;
  width:27px;
  height:26px;
}
#u2025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  word-wrap:break-word;
}
#u2026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:293px;
  width:56px;
  height:26px;
}
#u2026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u2027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:293px;
  width:56px;
  height:26px;
}
#u2027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u2028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:107px;
  width:111px;
  height:33px;
  color:#FFFFFF;
}
#u2028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:183px;
  width:55px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:183px;
  width:31px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:184px;
  width:31px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:218px;
  width:31px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:183px;
  width:31px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
