body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1005px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:364px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:13px;
  width:588px;
  height:364px;
}
#u1787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:453px;
  height:276px;
  text-align:left;
}
#u1788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:453px;
  height:32px;
}
#u1789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:58px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:58px;
  width:27px;
  height:16px;
  color:#FFFFFF;
  text-align:right;
}
#u1791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:261px;
  width:102px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u1792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u1793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:261px;
  width:102px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u1793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u1794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:92px;
  width:169px;
  height:16px;
}
#u1794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:118px;
  width:159px;
  height:16px;
}
#u1795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:166px;
  width:427px;
  height:45px;
  color:#666666;
  text-align:left;
}
#u1796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:423px;
  word-wrap:break-word;
}
#u1797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:92px;
  width:220px;
  height:16px;
}
#u1797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u1798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:144px;
  width:136px;
  height:16px;
}
#u1798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u1799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:144px;
  width:71px;
  height:16px;
}
#u1799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:261px;
  width:360px;
  height:32px;
}
#u1800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
